@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .p {
    @apply tracking-wide;
  }
  .btn {
    @apply text-[15px] tracking-[1px] uppercase text-white flex-1 transition-all px-8 flex justify-center items-center;
  }
  .btn-sm {
    @apply h-[48px];
  }
  .btn-lg {
    @apply h-[60px];
  }
  .btn-primary {
    @apply bg-accent hover:bg-accent-hover;
  }
  .btn-secondary {
    @apply bg-primary hover:bg-accent;
  }
  .btn-white {
    @apply bg-white text-[#0a0a0a];
  }
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

p {
  font-size: 15px;
  letter-spacing: 0.5px;
}
